@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Khdamat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Lalezar&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Lalezar&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand newFont" asp-area="" asp-controller="Home" asp-action="Index">خدمات</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item ">
            <a class="nav-link text-dark myNav" asp-area="" asp-controller="Home" asp-action="Index">الرئيسية</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark myNav" asp-area="" asp-controller="Home" asp-action="Privacy">الخصوصية</a>
        </li>*@
                        @if (Context.Session.GetString("CurrentView") == "Client")
                        {
                            if (Context.Session.GetInt32("isClient") == 1 || Context.Session.GetInt32("isWorker") == 1)
                            {
                            <li class="nav-item ">
                                <a class="nav-link text-dark myNav" asp-area="" asp-controller="Clients" asp-action="profile">حسابي</a>
                            </li>
                            }
                        }
                        else
                        {
                            if (Context.Session.GetInt32("isClient") == 1 || Context.Session.GetInt32("isWorker") == 1)
                            {
                            <li class="nav-item ">
                                <a class="nav-link text-dark myNav" asp-area="" asp-controller="Workers" asp-action="profile">حسابي</a>
                            </li>
                            }
                        }

                        <li class="nav-item ">
                            <a class="nav-link text-dark myNav" asp-area="" asp-controller="Request" asp-action="WaitingRequests">الخدمات المطلوبة</a>
                        </li>

                        @if (Context.Session.GetString("CurrentView") == "Client")
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-dark myNav" asp-area="" asp-controller="Request" asp-action="Add_Req">إنشاء خدمة جديدة</a>
                            </li>
                        }

                        @if (Context.Session.GetString("CurrentView") == "Client")
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-dark myNav" asp-area="" asp-controller="Request" asp-action="MyRequests">طلباتي</a>
                            </li>
                        }

                        @if (Context.Session.GetString("CurrentView") == "Worker")
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-dark myNav" asp-area="" asp-controller="Request" asp-action="AppliedRequests">العروض المرسلة</a>
                            </li>
                        }
                        
                        @if (Context.Session.GetInt32("isSupporter") == 1)
                        {
                            <li class="dropdown vertical-nav">

                                <a class="nav-link text-dark  dropdown-toggle control" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="#">التحكم</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="nav-link text-dark myNav" asp-area="" asp-controller="Request" asp-action="managereq">التحكم في الطلبات</a>

                                    </li>
                                    @*  <li><a class="nav-link text-dark myNav" asp-area="" asp-controller="Home" asp-action="#">التحكم في العملاء</a></li>*@
                                <li >
                                    <a href="#" style="padding: 5px 10px; color: var(--main-gray-text);">التحكم في العملاء</a>
                                    <div class="hover-menu">
                                        <ul>
                                            <li>

                                                <a class="nav-link text-dark myNav" asp-area="" asp-controller="Clients" asp-action="clientsControl">التحكم في الزباين</a>

                                            </li>
                                            <li><a class="nav-link text-dark myNav" asp-area="" asp-controller="Workers" asp-action="workersControl">التحكم في العمال</a></li>
                                                @if (Context.Session.GetInt32("isAdmin") == 1)
                                                {
                                                    <li>
                                                        <a class="nav-link text-dark myNav" asp-area="" asp-controller="Supporters" asp-action="SupportersControl">التحكم في السابورتارز</a>
                                                    </li>
                                                }
                                            </ul>

                                    </div>


                                </li>
                                    <li>
                                        <a class="nav-link text-dark myNav" asp-area="" asp-controller="Reports" asp-action="reportControl">التحكم في البلاغات</a>

                                    </li>
                                    <li><a class="nav-link text-dark myNav" asp-area="" asp-route-t="c" asp-controller="SuggReq" asp-action="manage_c_or_s">التحكم في الشكاوي</a></li>
                                    <li><a class="nav-link text-dark myNav" asp-area="" asp-route-t="s" asp-controller="SuggReq" asp-action="manage_c_or_s">عرض المقترحات</a></li>

                                </ul>




                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="blackFooter">
            <div class="container flexFooter">
                <div>
                    <a class="nav-link comFooter " asp-area="" asp-controller="SuggReq" asp-action="SuggReq">الشكاوي و الاقتراحات</a>
                   
                </div>
                <div>

                    <span><a href="#"><i class="fab fa-google-plus"></i></a></span>
                    <span><a href="#"><i class="fab fa-instagram"></i></a></span>
                    <span><a href="#"><i class="fab fa-facebook"></i></a></span>
                    &copy; 2021 - Khdamat

                </div>

                    
            </div>
        </div>
       
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
