﻿ /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --main-color: #2587a8;
    --main-color-alt: #1787e0;
    --main--trasition: 0.3s;
    --main-gray-text: #424242;
    --main-padding: 100px;
    --section-background: #ececec;
    --main--black: #1c1c1c;
    --main--rightGray: #4a4a4a;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
#appdes {
    visibility: hidden;
}
.ersal2 {
    visibility: hidden;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    direction: rtl;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Cairo', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}




/*///////////////////////////////////////////////*/

.newFont {
    font-family: 'Lalezar', cursive;
    font-size: 30px;
    color: var(--main-color) !important;
}

.homePar {
    color: var(--main-gray-text);
}

/*.myNav {
    color:var(--main-gray-text);
    transition:var(--main--trasition);
    margin:0 5px;
}
.myNav:hover{*/
/*font-size:25px;*/
/*color:grey;
    transform:scale(1.1,1.1);
}*/

.myNav {
    color: black;
    /*height: 72px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*  padding: 0 30px;*/
    position: relative;
    transition: var(--main--trasition);
    overflow: hidden;
}



    .myNav::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        top: 0;
        left: -100%;
        background-color: var(--main-color);
        transition: var(--main--trasition);
    }

    .myNav::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        top: 0;
        right: -100%;
        background-color: var(--main-color);
        transition: var(--main--trasition);
    }

    .myNav:hover {
        color: var(--main-gray-text) !important;
        background-color: #fafafa;
    }

        .myNav:hover::before {
            left: 0;
        }

        .myNav:hover::after {
            right: 0;
        }

/*@media (max-width: 767px) {
    .header .mega-menu ul {
        width: 100%;
    }
}*/

.blackFooter {
    background-color: var(--main--black);
}

.flexFooter {
    display: flex;
    justify-content: space-between;
}

.comFooter {

    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    transition: var(--main--trasition);
    font-size: 13px;
}

    .comFooter:hover {
        color: var(--main-color);
    }

footer span i {
    font-size: 23px;
    margin: 0 5px;
    transition: var(--main--trasition);
    color: var(--main-gray-text)
}

footer span .fa-facebook:hover {
    color: var(--main-color);
}

footer span .fa-instagram:hover {
    color: purple;
}

footer span .fa-google-plus:hover {
    color: red;
}

@media (max-width: 767px) {
    .myNav {
        margin-left: 39px !important;
        border-bottom: 1px solid #eee;
    }

    .control {
        text-align: center;
        margin: 0 0 0 20px;
        border-bottom: 1px solid #eee;
    }
}

.dropdown-toggle::after {
    margin: 3px 5px 0 0;
}

.register {
    margin: 0 auto !important;
    background: #eeeeee4f;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px #d9d5d5;
}

.typeofuser {
    display: flex;
    justify-content: space-around;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.makeflex {
    display: flex !important;
}

.graycolor {
    color: gray;
}

.logofont {
    font-family: 'Lalezar', cursive !important;
}

.marginright {
    margin: 0 20px 0 0;
}

.defultbutton {
    background-color: orangered;
    border: none;
    transition: var(--main--trasition);
}

    .defultbutton:hover {
        background-color: gray;
        color: black;
    }

.rigthTitle {
    font-weight: bold;
    font-size: 18px;
    color: var(--main--rightGray);
}

.leftInfo {
    font-size: 14px;
    color: var(--main-gray-text);
    margin: 3px 15px 0 0;
}

.grayBack {
    background-color: gray;
    color: white;
    transition: var(--main--trasition);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

    .grayBack :hover {
        background-color: white;
        color: var(--main-gray-text);
        text-decoration: none;
    }

/*.vertical-nav {
    position: fixed;
    background: white;
    box-shadow: 0 0 40px #00000021;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 70px;
}*/

.vertical-nav li {
    list-style: none;
    display: block;
    width: 100%;
    border-bottom: solid 1px #f2f5ff;
    text-align: center;
    position: relative;
    flex-grow: 1;
    align-items: stretch;
    display: flex;
}

    .vertical-nav li:last-child {
        border: none;
    }

    .vertical-nav li a {
        width: 100%;
        display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: center;
        transition: all 0.2s ease;
    }

    .vertical-nav li:hover > a {
        background: #fafafa;
        transition: all 0.2s ease;
    }

        .vertical-nav li:hover > a .feather {
            transform: scale(1.1);
            transition: all 0.2s ease;
        }

    .vertical-nav li:hover > .hover-menu,
    .vertical-nav li:focus-within > .hover-menu {
        visibility: visible;
        opacity: 1;
        -webkit-animation: slide-down 0.2s ease-out;
        -moz-animation: slide-down 0.2s ease-out;
        transition: all 0.5s ease;
        display: block;
    }

    .vertical-nav li .hover-menu {
        background: white;
        visibility: hidden;
        transition: all 0.5s ease;
        opacity: 0;
        display: none;
        position: absolute;
        left: 100%;
        min-width: 200px;
        margin: 0;
        padding: 0;
        top: -20%;
        box-shadow: 0 0 40px #00000021;
    }

        .vertical-nav li .hover-menu:after {
            right: 100%;
            top: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #ffffff;
            border-width: 10px;
            margin-top: -10px;
        }

        .vertical-nav li .hover-menu ul {
            margin: 0;
            padding: 0;
        }

            .vertical-nav li .hover-menu ul li {
                list-style: none;
                display: block;
                width: 100%;
                text-align: center;
            }

                .vertical-nav li .hover-menu ul li a {
                    width: 100%;
                    display: block !important;
                    text-decoration: none;
                    padding: 15px 20px;
                    text-align: left;
                    height: auto !important;
                    font-weight: 400;
                }

                    .vertical-nav li .hover-menu ul li a:hover {
                        background: #fafafa;
                        transition: 0.3s ease;
                    }

.menu-header {
    font-family: "Roboto Condensed", sans-serif;
    color: #929292;
    font-size: 13px;
    text-align: left !important;
    padding: 12px 20px 5px 20px;
    font-weight: 600;
    border-bottom: none !important;
}

.log-out a {
    background: #1e85c9;
    color: white;
}

    .log-out a:hover {
        color: #1e85c9;
        background: white;
    }

@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slide-down {
    0% {
        opacity: 0;
        -moz-transform: translateY(-5%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

.content {
    padding: 40px;
    color: #464646;
    width: 1170px;
    margin: 0 auto;
}

    /*h1,
h2 {
    color: #343535;
    font-weight: 400;
}*/

    p,
    .content li {
        color: #949494;
        line-height: 29px;
        font-size: 16px;
        font-weight: 300;
    }

.header-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

/* Zui table (modified) - https://jsfiddle.net/zinoui/dB93J/ */
.zui-table {
    border: solid 1px #ddeeee;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    box-shadow: 0 0 40px #00000021;
    margin: 50px 0;
}

    .zui-table thead th {
        background-color: #fff;
        border: solid 1px #dee;
        color: #343535;
        border: solid 1px #f5f9f9;
        padding: 20px;
        text-align: left;
    }

    .zui-table tbody td {
        border: solid 1px #edf1f1;
        color: #949494;
        font-size: 16px;
        padding: 20px;
    }

li a:hover {
    text-decoration: none !important;
}

.navbar {
    background-color: #eeeeee7d !important;
}


a:hover {
    text-decoration: none !important;
}

.registerdes {
    margin: 0 auto !important;
    background: #eeeeee4f;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px #d9d5d5;
    display: flex;
    padding-left:0;
    flex-direction:column;
      align-items:center;
        
}
.desc{
   /*display:flex;*/
   /*margin-top:5px;*/
}
.ersal{
    color:red;
}
.atab {
   color:red;
}
table {
   border-collapse:collapse;
   margin:25px 0px;
   font-size:1.3em;
   min-width:1100px;
border-radius:5px 5px 0 0;
overflow:hidden;
box-shadow:0 0 20px rgba(0,0,0,0.15)
   
}
table thead tr{
    background-color:#009879;
    text-align:right;
    font-weight:bold;
}
table th,table td{
    padding:12px 15px
}
tbody tr{
    text-align:right;

}
    tbody tr:last-of-type {
        border-bottom: 2px solid #1c1c1c;
    }
    tbody tr:hover {
        background-color: #dddddd;
        color: #009879;
        cursor:pointer
    }
    .tit{
       text-align:center
    }
.elem {
    min-width: 1100px;
    background-color: #dddddd;
    margin-bottom: 10px;
    text-align: right;
    min-height: 70px;
    display: flex;
    align-items: center;
    border-radius: 7px 7px 7px 0;
    border-right: 5px solid #2796f3;
}

    .elem label {
        padding-right: 30px;
    }
.cont {
    font-size: 1.3em;
    padding-right:30px;
    display:inline;
   
}
#btn {
    display: flex;
    margin: 20px 0;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: orangered;
    color: white;
    border: none;
    outline: none;
}
    #btn:hover {
        color: orangered;
        background-color: #dddddd;
    }
.app {
    height: 200px;
    width: 800px;
    display:flex;

}
.ersal2 {
    display: flex;
    margin: 20px 20px;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #009879;
    color: white;
    border: none;
    outline: none;
}
.ersal2:hover {
    color: #009879;
    background-color: #dddddd;
}
.asel {
    display: flex;
  
 align-items:center;
 padding:30px 10px 0px;
 min-width:600px;

}
.asel select,.asel label{
    margin-left:30px;
}

    .asel .abtn {
        display: flex;    
        width: 100px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: orangered;
        color: white;
        border: none;
        outline: none;
        margin-right:70px;
    }



/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main--trasition: 0.3s;
    --main-gray-text: #424242;
    --main-padding: 100px;
    --section-background: #ececec;
    --main--black: #1c1c1c;
    --main--rightGray: #4a4a4a;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    direction: rtl;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Cairo', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}




/*///////////////////////////////////////////////*/

.newFont {
    font-family: 'Lalezar', cursive;
    font-size: 30px;
    color: var(--main-color) !important;
}

.homePar {
    color: var(--main-gray-text);
}

/*.myNav {
    color:var(--main-gray-text);
    transition:var(--main--trasition);
    margin:0 5px;
}

.myNav:hover{*/
/*font-size:25px;*/
/*color:grey;
    transform:scale(1.1,1.1);
}*/

.myNav {
    color: black;
    /*height: 72px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*  padding: 0 30px;*/
    position: relative;
    transition: var(--main--trasition);
    overflow: hidden;
}



    .myNav::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        top: 0;
        left: -100%;
        background-color: var(--main-color);
        transition: var(--main--trasition);
    }

    .myNav::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        top: 0;
        right: -100%;
        background-color: var(--main-color);
        transition: var(--main--trasition);
    }

    .myNav:hover {
        color: var(--main-gray-text) !important;
        background-color: #fafafa;
    }

        .myNav:hover::before {
            left: 0;
        }

        .myNav:hover::after {
            right: 0;
        }

/*@media (max-width: 767px) {
    .header .mega-menu ul {
        width: 100%;
    }
}*/

.blackFooter {
    background-color: var(--main--black);
}

.flexFooter {
    display: flex;
    justify-content: space-between;
}

.comFooter {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    transition: var(--main--trasition);
    font-size: 13px;
}

    .comFooter:hover {
        color: var(--main-color);
    }

footer span i {
    font-size: 23px;
    margin: 0 5px;
    transition: var(--main--trasition);
    color: var(--main-gray-text)
}

footer span .fa-facebook:hover {
    color: var(--main-color);
}

footer span .fa-instagram:hover {
    color: purple;
}

footer span .fa-google-plus:hover {
    color: red;
}

@media (max-width: 767px) {
    .myNav {
        margin-left: 39px !important;
        border-bottom: 1px solid #eee;
    }

    .control {
        text-align: center;
        margin: 0 0 0 20px;
        border-bottom: 1px solid #eee;
    }
}

.dropdown-toggle::after {
    margin: 3px 5px 0 0;
}

.register {
    margin: 0 auto !important;
    background: #eeeeee4f;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px #d9d5d5;
}

.typeofuser {
    display: flex;
    justify-content: space-around;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.makeflex {
    display: flex !important;
}

.graycolor {
    color: gray;
}

.logofont {
    font-family: 'Lalezar', cursive !important;
}

.marginright {
    margin: 0 20px 0 0;
}

.defultbutton {
    background-color: orangered;
    border: none;
    transition: var(--main--trasition);
}

    .defultbutton:hover {
        background-color: gray;
        color: black;
    }

.rigthTitle {
    font-weight: bold;
    font-size: 18px;
    color: var(--main--rightGray);
}

.leftInfo {
    font-size: 14px;
    color: var(--main-gray-text);
    margin: 3px 15px 0 0;
}

.grayBack {
    background-color: gray;
    color: white;
    transition: var(--main--trasition);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

    .grayBack :hover {
        background-color: white;
        color: var(--main-gray-text);
        text-decoration: none;
    }

/*.vertical-nav {
    position: fixed;
    background: white;
    box-shadow: 0 0 40px #00000021;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 70px;
}*/

.vertical-nav li {
    list-style: none;
    display: block;
    width: 100%;
    border-bottom: solid 1px #f2f5ff;
    text-align: center;
    position: relative;
    flex-grow: 1;
    align-items: stretch;
    display: flex;
}

    .vertical-nav li:last-child {
        border: none;
    }

    .vertical-nav li a {
        width: 100%;
        display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: center;
        transition: all 0.2s ease;
    }

    .vertical-nav li:hover > a {
        background: #fafafa;
        transition: all 0.2s ease;
    }

        .vertical-nav li:hover > a .feather {
            transform: scale(1.1);
            transition: all 0.2s ease;
        }

    .vertical-nav li:hover > .hover-menu,
    .vertical-nav li:focus-within > .hover-menu {
        visibility: visible;
        opacity: 1;
        -webkit-animation: slide-down 0.2s ease-out;
        -moz-animation: slide-down 0.2s ease-out;
        transition: all 0.5s ease;
        display: block;
    }

    .vertical-nav li .hover-menu {
        background: white;
        visibility: hidden;
        transition: all 0.5s ease;
        opacity: 0;
        display: none;
        position: absolute;
        left: 100%;
        min-width: 200px;
        margin: 0;
        padding: 0;
        top: -20%;
        box-shadow: 0 0 40px #00000021;
    }

        .vertical-nav li .hover-menu:after {
            right: 100%;
            top: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #ffffff;
            border-width: 10px;
            margin-top: -10px;
        }

        .vertical-nav li .hover-menu ul {
            margin: 0;
            padding: 0;
        }

            .vertical-nav li .hover-menu ul li {
                list-style: none;
                display: block;
                width: 100%;
                text-align: center;
            }

                .vertical-nav li .hover-menu ul li a {
                    width: 100%;
                    display: block !important;
                    text-decoration: none;
                    padding: 15px 20px;
                    text-align: left;
                    height: auto !important;
                    font-weight: 400;
                }

                    .vertical-nav li .hover-menu ul li a:hover {
                        background: #fafafa;
                        transition: 0.3s ease;
                    }

.menu-header {
    font-family: "Roboto Condensed", sans-serif;
    color: #929292;
    font-size: 13px;
    text-align: left !important;
    padding: 12px 20px 5px 20px;
    font-weight: 600;
    border-bottom: none !important;
}

.log-out a {
    background: #1e85c9;
    color: white;
}

    .log-out a:hover {
        color: #1e85c9;
        background: white;
    }

@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    0 {
        opacity: 0;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slide-down {
    0% {
        opacity: 0;
        -moz-transform: translateY(-5%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

.content {
    padding: 40px;
    color: #464646;
    width: 1170px;
    margin: 0 auto;
}

    /*h1,
h2 {
    color: #343535;
    font-weight: 400;
}*/

    p,
    .content li {
        color: #949494;
        line-height: 29px;
        font-size: 16px;
        font-weight: 300;
    }

.header-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

/* Zui table (modified) - https://jsfiddle.net/zinoui/dB93J/ */
.zui-table {
    border: solid 1px #ddeeee;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    box-shadow: 0 0 40px #00000021;
    margin: 50px 0;
}

    .zui-table thead th {
        background-color: #fff;
        border: solid 1px #dee;
        color: #343535;
        border: solid 1px #f5f9f9;
        padding: 20px;
        text-align: left;
    }

    .zui-table tbody td {
        border: solid 1px #edf1f1;
        color: #949494;
        font-size: 16px;
        padding: 20px;
    }

li a:hover {
    text-decoration: none !important;
}

.navbar {
    background-color: #eeeeee7d !important;
}

a:hover {
    text-decoration: none !important;
}

.rightButton {
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

.leftButton {
    margin-right: 20px;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

.fullWidth {
    width: 100% !important;
}

.height200 {
    height: 200px !important;
}

.header11 {
    display: flex;
    justify-content: center;
    position: relative;
}

    .header11 span {
        width: 30px;
        height: 30px;
        color: white;
        background-color: #2587a8;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        margin-bottom: 10px;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
    }

.header11 h2
{
    margin:50px 0;
}

.maintext {
    display: flex !important;
    font-size: 20px;
    font-weight: 500;
    color: gray;
    justify-content:center;
}

    .maintext span {
        font-family: 'Lalezar', cursive;
        font-size: 30px;
        color: #505050;
        margin-left: 10px;
    }

.col-md-4 .image {
    max-width: 100%;
    /* min-width:100%;*/
    max-height: 100%;
}

.col-md-4 img {
    max-width: 100%;
    /* min-width:100%;*/
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.col-md-4 .cam {
    /*margin-right: 37px;*/
}

.col-md-4 .lap {
    height: 200px;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 82px;
    height: 37px;
    background-color: #2196f3;
    border-radius: 30px;
    border: 2px solid gray;
   /* transition:var(--main--trasition)*/
}

    /* After slide changes */
    .toggle:after {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        border-radius: 50%;
        background-color: gray;
        top: 0px;
        left: 0px;
        transition: var(--main--trasition) !important;
    }

/* Toggle text */


/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
   /* left: 49px;*/
    right:0;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: orange;
}

/* Checkbox vanished */
.checkbox {
    display: none;
}

input#price {
    border: 1px solid #ced4da;
}