@{
    ViewData["Title"] = "Home Page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
@*<div class="text-center">
        <h1 class="display-4">مرحبا</h1>
        <p class="homePar">هذه نسخة تجريبية من الموقع</p>
    </div>*@

<div class="jumbotron">
    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    @*<h2>ساعد</h2>*@
    @*<p>علمني والدي دائما أنه عندما تساعد الآخرين ، فإن الله سيعطيك ضعفًا. وهذا ما حدث لي بالفعل. عندما ساعدت أشخاصًا آخرين محتاجين ، ساعدني الله أكثر.</p>*@
    <p class="makeflex maintext">
        @*«قال رسول الله: «أحب الناس إلى الله تعالى أنفعهم للناس.*@
        <span >خدمات</span> هو موقع لعرض الطلبات و تنفيذها عن طريق دفع اجر مادي للشخص الذي سينفذ الخدمة
    </p>

  



  

</div>

<div class="cont1 ">
    <div class="row ">
        <div class="col-md-4 register">

            <div class="header11">
                <span>1</span>
                <h2>

                   اعرض طلبك

                </h2>
            </div>
         

            @*<div class="image camera"><img src="~/Images/first.png" class="cam" /></div>*@
            @*<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4 register">

            <div class="header11">
                <span>2</span>
                <h2>

                    تفحص الطلبات
                </h2>

            </div>
            @*<div class="image"><img src="~/Images/second.png" /></div>*@
            @*<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4 register">

            <div class="header11">
                <span>3</span>
                <h2>

                    تواصل مع الناس
                </h2>
            </div>

            @*<div class="image comunication"><img src="~/Images/third.png" class="com" /></div>*@
            @*<p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>


    </div>
</div>
